* {
    box-sizing: border-box; 
    margin: 5px;
    padding: 5px;
}

html, body {
    font-family: sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    border: none;
    padding: 0;
    margin: 20px 0;
    gap: 20px;
}
header, aside, main, article, footer {
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

header { background-color: purple; grid-area: header; }
aside { background-color: lightblue; grid-area: aside; }
main { background-color: #3b9b65; grid-area: main; }
article { background-color: red; margin-bottom: 10px; }
article:last-child { margin-bottom: 0; }
footer { background-color: orange; grid-area: footer; }


aside {
    background-color: lightblue;
    padding: 1rem;
}

main {
    background-color: green;
    padding: 20px;
}

article {
    background-color: red;
    margin-bottom:10px;
    padding: 1rem;
    margin: 0 0 10px;
}

@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
        font-size: 16pt;
    }

    aside {
        flex: 1;
        order: -1;
    }

    main {
        flex: 2;
    }   
}
